* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body, html {
  background: linear-gradient(to bottom, #f6f5f3, #dedcd9);
  font-family: "Inter", sans-serif;
  overflow: hidden;
  padding: 0;
  margin: 0;
}