.home-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #1e1e1e; /* Fondo oscuro */
  padding: 0 10px;
  overflow: hidden;
}

.screen-container {
  flex: 1;
  position: relative;
  width: 98vw;
  margin: 4vh auto;
  border-radius: 20px;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  background-color: #dfe2e3; 
}

.screen-container.live{
  background-color: #1e1e1e !important;
}

.home-container.editing .screen-container {
  width: calc(75vw - 10px);
  margin-left: 10px;
}

.file-screen-container {
  text-align: center;
}

.title-upload{
  text-align: center;
  padding-top: 40px;
}

.title-live {
  text-align: center;
  padding-top: 40px;
  background-color: #1e1e1e;
  color: #dfe2e3;
}

@media (max-width: 768px) {
  .app-container.editing .screen-container {
    width: 100%;
    height: calc(100vh - 20vh); /* Ajusta la altura dejando espacio para la barra */
    margin: 15px 0 0 0;
  }

}

@media (max-height: 770px) and (max-width: 768px) {
  .app-container.editing .screen-container {
    height: calc(100vh - 22vh); /* Ajusta la altura dejando espacio para la barra */
  }
}

@media (max-width: 360px){
  .app-container.editing .screen-container {
    height: calc(100vh - 22vh); /* Ajusta la altura dejando espacio para la barra */
  }
}

.upload-content {
  background-color: #dfe2e3;
}

.live-content {
  background-color: #1e1e1e;
}

.hidden {
  opacity: 0;
  transform: translateY(0px);
  pointer-events: none;
  visibility: hidden;
}

.brush-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000; /* Asegura que quede encima */
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.brush-button:hover {
  background-color: #f0f0f0;
}

.closeCamera-button {
  position: absolute;
  top: 10px;
  right: 70px;
  z-index: 1000; 
  background-color: white;
  border: none;
  border-radius: 20px;
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: black;
  font-weight: 500;
  font-size: 15px;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.closeCamera-button:hover {
  background-color: #f0f0f0;
}

.visible {
  opacity: 1;
  visibility: visible;
}